<!DOCTYPE html> 
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<title>Doccure | {% block title %} {% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		{% load static %}
		
		<!-- Favicons -->
		<link href="{% static 'cas/img/favicon.png' %}" rel="icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'cas/css/bootstrap.min.css' %}">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{% static 'cas/plugins/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'cas/plugins/fontawesome/css/all.min.css' %}">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="{% static 'cas/css/style.css' %}">
		{% block css %}
		{% endblock %}

	</head>
	<body class="chat-page">

		<!-- Main Wrapper -->
		<div class="main-wrapper">
			<!-- Header -->
			<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="{% url 'index' %}" class="navbar-brand logo">
							<img src="{% static 'cas/img/logo.png' %}" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="{% url 'index' %}" class="menu-logo">
								<img src="{% static 'cas/img/logo.png' %}" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li class="active">
								<a href="{% url 'index' %}">Home</a>
							</li>
						{% if user.groups.get.name == 'doctors_group' %}
							<li class="has-submenu">
								<a href="#">Doctors <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li class="active"><a href="{% url 'doctor-dashboard' %}">Doctor Dashboard</a></li>
									<li><a href="{% url 'appointments' %}">Appointments</a></li>
									<li><a href="{% url 'schedule-timings' %}">Schedule Timing</a></li>
									<li><a href="{% url 'my-patients' %}">Patients List</a></li>
									<li><a href="{% url 'chat-doctor' %}">Chat</a></li>
									<li><a href="{% url 'invoices' %}">Invoices</a></li>
									<li><a href="{% url 'doctor-profile-settings' %}">Profile Settings</a></li>
									<li><a href="{% url 'reviews' %}">Reviews</a></li>
								</ul>
							</li>	
						{% elif user.groups.get.name == 'patients_group' %}
							<li class="has-submenu">
								<a href="#">Patients <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="{% url 'patient-dashboard' %}">Patient Dashboard</a></li>
									<li><a href="{% url 'favourites' %}">Favourites</a></li>
									<li><a href="{% url 'chat' %}">Chat</a></li>
									<li><a href="{% url 'profile-settings' %}">Profile Settings</a></li>
									<li><a href="{% url 'change-password' %}">Change Password</a></li>
								</ul>
							</li>
						{% elif user.is_superuser %}
							<li>
								<a href="{% url 'admin-dashboard' %}" target="_blank">Admin</a>
							</li>	
						{% endif %}

							<li class="has-submenu">
								<a href="#">Pages <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
								{% if user.is_authenticated %}
									<li><a href="{% url 'logout' %}">Logout</a></li>
								{% else %}
									<li><a href="{% url 'login' %}">Login</a></li>
									<li><a href="{% url 'register' %}">Patient Register</a></li>
									<li><a href="{% url 'doctor-register' %}">Doctor Register</a></li>
								{% endif %}
								</ul>
							</li>
						</ul>		 
					</div>		 
					<ul class="nav header-navbar-rht">
					{% if user.is_authenticated %}
						<!-- User Menu -->
						<li class="nav-item dropdown has-arrow logged-item">
							<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
								<span class="user-img">
									<img class="rounded-circle" src="{{profile.image.url}}" width="31" alt="{{user.first_name}} {{user.last_name}}">
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<div class="user-header">
									<div class="avatar avatar-sm">
										<img src="{{profile.image.url}}" alt="User Image" class="avatar-img rounded-circle">
									</div>
									<div class="user-text">
										<h6>{{user.first_name}} {{user.last_name}}</h6>
									{% if user.groups.get.name == 'patients_group' %}
										<p class="text-muted mb-0">Patient</p>
									{% elif user.groups.get.name == 'doctors_group' %}
										<p class="text-muted mb-0">Doctor</p>
									{% elif user.is_superuser %}
										<p class="text-muted mb-0">Administrator</p>
									{% else %}
										<p class="text-muted mb-0">{{user.groups.get}}</p>
									{% endif %}
									</div>
								</div>
							{% if user.groups.get.name == 'patients_group' %}
								<a class="dropdown-item" href="{% url 'patient-dashboard' %}">Dashboard</a>
								<a class="dropdown-item" href="{% url 'profile-settings' %}">Profile Settings</a>
							{% elif user.groups.get.name == 'doctors_group' %}
								<a class="dropdown-item" href="{% url 'doctor-dashboard' %}">Dashboard</a>
								<a class="dropdown-item" href="{% url 'doctor-profile-settings' %}">Profile Settings</a>
							{% elif user.is_superuser %}
								<a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
								<a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
							{% endif %}
								<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
							</div>
						</li>
						<!-- /User Menu -->
					{% else %}
						<li class="nav-item">
							<a class="nav-link header-login" href="{% url 'login' %}">login / Signup </a>
						</li>
					{% endif %}
					</ul>
				</nav>
			</header>
			<!-- /Header -->

			{% block content %}
			{% endblock %}
	   </div>
	   <!-- /Main Wrapper -->
		{% block modal %}
		{% endblock %}

	   <!-- jQuery -->
		<script src="{% static 'cas/js/jquery.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{% static 'cas/js/popper.min.js' %}"></script>
		<script src="{% static 'cas/js/bootstrap.min.js' %}"></script>
		
		{% block javascript %} {% endblock %}
		
		<!-- Custom JS -->
		<script src="{% static 'cas/js/script.js' %}"></script>
		
	</body>
</html>