{% extends "cas/base.html" %}

{% block title %} Home {% endblock %}

{% load static %}


{% block content %}
			
	<!-- Home Banner -->
	<section class="section section-search">
		<div class="container-fluid">
			<div class="banner-wrapper">
				<div class="banner-header text-center">
					<h1>Search Doctor, Make an Appointment</h1>
					<p>Discover the best doctors, clinic & hospital the city nearest to you.</p>
				</div>
                 
				<!-- Search -->
				<div class="search-box">
					<form action="{% url 'search-results' %}" method="GET">
						<div class="form-group search-location">
							<input type="text" name="location" class="form-control" placeholder="Search Location">
							<span class="form-text">Based on your Location</span>
						</div>
						<div class="form-group search-info">
							<input type="text" name="search" class="form-control" placeholder="Search Doctors, Clinics, Hospitals, Diseases Etc">
							<span class="form-text">Ex : Dental or Sugar Check up etc</span>
						</div>
						<button type="submit" class="btn btn-primary search-btn"><i class="fas fa-search"></i> <span>Search</span></button>
					</form>
				</div>
				<!-- /Search -->
				
			</div>
		</div>
	</section>
	<!-- /Home Banner -->
			  
	<!-- Clinic and Specialities -->
	<section class="section section-specialities">
		<div class="container-fluid">
			<div class="section-header text-center">
				<h2>Clinic and Specialities</h2>
				<p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-9">
					<!-- Slider -->
					<div class="specialities-slider slider">
					{% for speciality in specialities %}
						<!-- Slider Item -->
						<div class="speicality-item text-center">
							<div class="speicality-img">
								<img src="{{speciality.image.url}}" class="img-fluid" alt="Speciality">
								<span><i class="fa fa-circle" aria-hidden="true"></i></span>
							</div>
							<p>{{speciality.name}}</p>
						</div>	
						<!-- /Slider Item -->
					{% endfor %}
					</div>
					<!-- /Slider -->
					
				</div>
			</div>
		</div>   
	</section>	 
	<!-- Clinic and Specialities -->
  
	<!-- Popular Section -->
	<section class="section section-doctor">
		<div class="container-fluid">
		   <div class="row">
				<div class="col-lg-4">
					<div class="section-header ">
						<h2>Book Our Doctor</h2>
						<p>Lorem Ipsum is simply dummy text </p>
					</div>
					<div class="about-content">
						<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</p>
						<p>web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes</p>					
						<a href="javascript:;">Read More..</a>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="doctor-slider slider">
					{% for doctor in doctors %}
					
						<!-- Doctor Widget -->
						<div class="profile-widget">
							<div class="doc-img">
								<a href="{% url 'doctor-profile' doctor.full_name|slugify doctor.id %}">
									<img class="img-fluid" alt="User Image" src="{{doctor.image.url}}">
								</a>
								{% if user.groups.get.name == 'patients_group' %}
								<a href="{% url 'favourite-doctor' doctor.full_name|slugify doctor.id %}" class="fav-btn">
									<i class="far fa-bookmark"></i>
								</a>
								{% endif %}
							</div>
							<div class="pro-content">
								<h3 class="title">
									<a href="doctor-profile.html">{{doctor.first_name}} {{doctor.second_name}}</a> 
									<i class="fas fa-check-circle verified"></i>
								</h3>
								<h5 class="doc-department"><img src="{{doctor.speciality.image.url}}" class="img-fluid" alt="Speciality">{{doctor.speciality.name}}</h5>
								
								<div class="rating">
									{% for x, filled in doctor.review.items %}	
										<i class="fas fa-star {{filled}}"></i>
									{% endfor %}
									<span class="d-inline-block average-rating">({{doctor.total_reviews}})</span>
								</div>
								<ul class="available-info">
									<li>
										<i class="fas fa-hospital-alt"></i> {{doctor.clinic}}
									</li>
									<li>
										<i class="fas fa-map-marker-alt"></i> {{doctor.county}}, {{doctor.country}}
									</li>
									<li>
										<i class="far fa-clock"></i> {{doctor.availability}}
									</li>
									<li>
										<i class="far fa-money-bill-alt"></i> kSh {{doctor.pricing}} 
										<i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
									</li>
								</ul>
								<div class="row row-sm">
								
								{% if user.groups.get.name == 'doctors_group' %}
									{% if doctor.id == profile.id %}
										<div class="col-6">
											<a href="{% url 'doctor-profile-settings' %}" class="btn book-btn">Edit Profile</a>
										</div>
										<div class="col-6">
									{% else %}
										<div class="col-12">
									{% endif %}
											<a href="{% url 'doctor-profile' doctor.full_name|slugify doctor.id %}" class="btn view-btn">View Profile</a>
										</div>
								{% elif user.is_superuser %}
									<div class="col-12">
										<a href="{% url 'doctor-profile' doctor.full_name|slugify doctor.id %}" class="btn view-btn">View Profile</a>
									</div>
								{% else %}
									<div class="col-6">
										<a href="{% url 'doctor-profile' doctor.full_name|slugify doctor.id %}" class="btn view-btn">View Profile</a>
									</div>
									<div class="col-6">
										<a href="{% url 'booking' doctor.full_name|slugify doctor.id %}" class="btn book-btn">Book Now</a>
									</div>
								{% endif %}
								</div>
							</div>
						</div>
						<!-- /Doctor Widget -->
					{% endfor %}
					</div>
				</div>
		   </div>
		</div>
	</section>
	<!-- /Popular Section -->

{% endblock %}

{% block javascript %}
	<!-- Slick JS -->
	<script src="{% static 'cas/js/slick.js' %}"></script>
	
	<script src="{% static 'cas/js/ajax.js' %}"></script>
{% endblock %}		
		