{% extends "cas/base.html" %}

{% block title %} Search Results {% endblock %}

{% load static %}

{% block css %}
	<!-- Datetimepicker CSS -->
	<link rel="stylesheet" href="{% static 'cas/css/bootstrap-datetimepicker.min.css' %}">
	
	<!-- Select2 CSS -->
	<link rel="stylesheet" href="{% static 'cas/plugins/select2/css/select2.min.css' %}">
	
	<!-- Fancybox CSS -->
	<link rel="stylesheet" href="{% static 'cas/plugins/fancybox/jquery.fancybox.min.css' %}">
{% endblock %}

{% block content %}
			
	<!-- Breadcrumb -->
	<div class="breadcrumb-bar">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-md-8 col-12">
					<nav aria-label="breadcrumb" class="page-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Search</li>
						</ol>
					</nav>
					<h2 class="breadcrumb-title">{{doctors.count}} matches found for : {{keyword}} In {{location}}</h2>
				</div>
				<div class="col-md-4 col-12 d-md-block d-none">
					<div class="sort-by">
						<span class="sort-title">Sort by</span>
						<span class="sortby-fliter">
							<select class="select">
								<option>Select</option>
								<option class="sorting">Rating</option>
								<option class="sorting">Popular</option>
								<option class="sorting">Latest</option>
								<option class="sorting">Free</option>
							</select>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Breadcrumb -->
			
	<!-- Page Content -->
	<div class="content">
		<div class="container-fluid">

			<div class="row">
				<div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">
				
					<!-- Search Filter -->
					<div class="card search-filter">
						<div class="card-header">
							<h4 class="card-title mb-0">Search Filter</h4>
						</div>
						<div class="card-body">
						<div class="filter-widget">
							<div class="cal-icon">
								<input type="text" class="form-control datetimepicker" placeholder="Select Date">
							</div>			
						</div>
						<div class="filter-widget">
							<h4>Gender</h4>
							<div>
								<label class="custom_check">
									<input type="checkbox" name="gender_type" checked>
									<span class="checkmark"></span> Male Doctor
								</label>
							</div>
							<div>
								<label class="custom_check">
									<input type="checkbox" name="gender_type" checked>
									<span class="checkmark"></span> Female Doctor
								</label>
							</div>
						</div>
						<div class="filter-widget">
							<h4>Select Specialist</h4>
						{% for speciality in specialities %}
							<div>
								<label class="custom_check">
									<input type="checkbox" name="select_specialist" checked>
									<span class="checkmark"></span> {{speciality.name}}
								</label>
							</div>
						{% endfor %}
													</div>
							<div class="btn-search">
								<button type="button" class="btn btn-block">Search</button>
							</div>	
						</div>
					</div>
					<!-- /Search Filter -->
					
				</div>
				
				<div class="col-md-12 col-lg-8 col-xl-9">
				{% for doctor in doctors %}
					<!-- Doctor Widget -->
					<div class="card">
						<div class="card-body">
							<div class="doctor-widget">
								<div class="doc-info-left">
									<div class="doctor-img">
										<a href="{% url 'doctor-profile' doctor.full_name|slugify doctor.id %}">
											<img src="{{doctor.image.url}}" class="img-fluid" alt="User Image">
										</a>
									</div>
									<div class="doc-info-cont">
										<h4 class="doc-name"><a href="{% url 'doctor-profile' doctor.full_name|slugify doctor.id %}">{{doctor.full_name}}</a></h4>

										<p class="doc-speciality">{{val}}</p>
										<h5 class="doc-department"><img src="{{doctor.speciality.image.url}}" class="img-fluid" alt="Speciality">{{doctor.speciality.name}}</h5>
										
										<div class="rating">
											{% for x, count in doctor.review.items %}	
												<i class="fas fa-star {{count}}"></i>
											{% endfor %}
											<span class="d-inline-block average-rating">({{doctor.total_reviews}})</span>
										</div>

										<div class="clinic-details">
											<p class="doc-location"><i class="fas fa-hospital-alt"></i> {{doctor.clinic}}</p>
											<p class="doc-location"><i class="fas fa-map-marker-alt"></i> {{doctor.clinic_address}}</p>
											<!--ul class="clinic-gallery">
												<li>
													<a href="{% static 'appointments/img/features/feature-01.jpg' %}" data-fancybox="gallery">
														<img src="{% static 'appointments/img/features/feature-01.jpg' %}" alt="Feature">
													</a>
												</li>
												<li>
													<a href="{% static 'appointments/img/features/feature-02.jpg' %}" data-fancybox="gallery">
														<img  src="{% static 'appointments/img/features/feature-02.jpg' %}" alt="Feature">
													</a>
												</li>
												<li>
													<a href="{% static 'appointments/img/features/feature-03.jpg' %}" data-fancybox="gallery">
														<img src="{% static 'appointments/img/features/feature-03.jpg' %}" alt="Feature">
													</a>
												</li>
												<li>
													<a href="{% static 'appointments/img/features/feature-04.jpg' %}" data-fancybox="gallery">
														<img src="{% static 'appointments/img/features/feature-04.jpg' %}" alt="Feature">
													</a>
												</li>
											</ul-->
										</div>
										<div class="clinic-services">
										{% for x in doctor.service_list %}
											<span>{{x}}</span>
										{% endfor %}
										</div>
									</div>
								</div>
								<div class="doc-info-right">
									<div class="clini-infos">
										<ul>
											<li><i class="far fa-thumbs-up"></i> {{doctor.thumbs}}%</li>
											<li><i class="far fa-comment"></i> {{doctor.total_reviews}} Feedback</li>
											<li><i class="fas fa-map-marker-alt"></i> {{doctor.county}}, {{doctor.country}}</li>
											<li><i class="far fa-money-bill-alt"></i> Ksh{{doctor.pricing}} <i class="fas fa-info-circle" data-toggle="tooltip" title="average-pricing"></i> </li>
										</ul>
									</div>
									<div class="clinic-booking">
										<a class="view-pro-btn" href="{% url 'doctor-profile' doctor.full_name|slugify doctor.id %}">View Profile</a>
										<a class="apt-btn" href="{% url 'booking' doctor.full_name|slugify doctor.id %}">Book Appointment</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Doctor Widget -->
				{% endfor %}	
				</div>
			</div>

		</div>

	</div>		
	<!-- /Page Content -->
{% endblock %}	

{% block javascript %} 
	<!-- Datetimepicker JS -->
	<script src="{% static 'cas/js/moment.min.js' %}"></script>
	<script src="{% static 'cas/js/bootstrap-datetimepicker.min.js' %}"></script>
	
	<!-- Fancybox JS -->
	<script src="{% static 'cas/plugins/fancybox/jquery.fancybox.min.js' %}"></script>
{% endblock %}		