{% extends "doctors/base.html" %}

{% block title %}Doctors{% endblock %}

{% load static %}

{% block breadcrumb %}Reviews{% endblock %}
{% block breadcrumb1 %}Reviews{% endblock %}

{% block sidenav %}
	<ul>
		<li>
			<a href="{% url 'doctor-dashboard' %}">
				<i class="fas fa-columns"></i>
				<span>Dashboard</span>
			</a>
		</li>
		<li>
			<a href="{% url 'appointments' %}">
				<i class="fas fa-calendar-check"></i>
				<span>Appointments</span>
			</a>
		</li>
		<li>
			<a href="{% url 'my-patients' %}">
				<i class="fas fa-user-injured"></i>
				<span>My Patients</span>
			</a>
		</li>
		<li>
			<a href="{% url 'schedule-timings' %}">
				<i class="fas fa-hourglass-start"></i>
				<span>Schedule Timings</span>
			</a>
		</li>
		<li>
			<a href="{% url 'invoices' %}">
				<i class="fas fa-file-invoice"></i>
				<span>Invoices</span>
			</a>
		</li>
		<li class="active">
			<a href="{% url 'reviews' %}">
				<i class="fas fa-star"></i>
				<span>Reviews</span>
			</a>
		</li>
		<li>
			<a href="{% url 'chat-doctor' %}">
				<i class="fas fa-comments"></i>
				<span>Message</span>
				<small class="unread-msg">23</small>
			</a>
		</li>
		<li>
			<a href="{% url 'doctor-profile-settings' %}">
				<i class="fas fa-user-cog"></i>
				<span>Profile Settings</span>
			</a>
		</li>
		<li>
			<a href="{% url 'social-media' %}">
				<i class="fas fa-share-alt"></i>
				<span>Social Media</span>
			</a>
		</li>
		<li>
			<a href="{% url 'doctor-change-password' %}">
				<i class="fas fa-lock"></i>
				<span>Change Password</span>
			</a>
		</li>
		<li>
			<a href="{% url 'logout' %}">
				<i class="fas fa-sign-out-alt"></i>
				<span>Logout</span>
			</a>
		</li>
	</ul>
{% endblock %}

{% block content %}									
	<div class="col-md-7 col-lg-8 col-xl-9">
		<div class="doc-review review-listing">
		
			<!-- Review Listing -->
			<ul class="comments-list">
			{% for review in reviews %}
			
				<!-- Comment List -->
				<li>
					<div class="comment">
						<img class="avatar rounded-circle" alt="User Image" src="{{review.patient.image.url}}">
						<div class="comment-body">
							<div class="meta-data">
								<span class="comment-author">{{review.appointment.patient.first_name}} {{review.appointment.patient.last_name}}</span>
								<span class="comment-date">Reviewed {{ review.date|timesince }} ago</span>
								<div class="review-count rating">
								{% for rate in review.review_rate.value %}
									<i class="fas fa-star {{rate}}"></i>
								{% endfor %}
								</div>
							</div>
							{% if review.patient_liked == True %}
								<p class="recommended">
									<i class="far fa-thumbs-up"></i> I recommend the doctor
								</p>
							{% elif review.patient_liked == False %}
								<p class="recommended" style="color: red;">
									<i class="far fa-thumbs-down"></i> I do not recommend the doctor
								</p>
							{% endif %}
							<p class="comment-content">
								{{review.text}}
							</p>
							<div class="comment-reply">
								<a class="comment-btn" href="#">
									<i class="fas fa-reply"></i> Reply
								</a>
								<p class="recommend-btn">
									<span>Recommend?</span>
									{% if review.doctor_liked == True %}
										<a href="#" class="like-btn" style="color: green;">
											<i class="far fa-thumbs-up"></i> Yes
										</a>
										<a href="#" class="dislike-btn">
											<i class="far fa-thumbs-down"></i> No
										</a>
									{% elif review.doctor_liked == False %}
										<a href="#" class="like-btn">
											<i class="far fa-thumbs-up"></i> Yes
										</a>
										<a href="#" class="dislike-btn" style="color: red;">
											<i class="far fa-thumbs-down"></i> No
										</a>
									{% else %}
										<a href="#" class="like-btn">
											<i class="far fa-thumbs-up"></i> Yes
										</a>
										<a href="#" class="dislike-btn">
											<i class="far fa-thumbs-down"></i> No
										</a>
									{% endif %}
								</p>
							</div>
						</div>
					</div>
					
					<!-- Comment Reply -->
					<ul class="comments-reply">
					{% for reply in review.replies %}
						<!-- Comment Reply List -->
						<li>
							<div class="comment">
								<img class="avatar rounded-circle" alt="User Image" src="{{reply.get_user.image.url}}">
								<div class="comment-body">
									<div class="meta-data">
										<span class="comment-author">{{reply.get_user.title}} {{reply.get_user.first_name}} {{reply.get_user.second_name}}</span>
										<span class="comment-date">Reviewed {{reply.date|timesince}} ago</span>
									</div>
									<p class="comment-content">
										{{reply.text}}
									</p>
									<div class="comment-reply">
										<a class="comment-btn" href="#">
											<i class="fas fa-reply"></i> Reply
										</a>
									</div>
								</div>
							</div>
						</li>
						<!-- /Comment Reply List -->
					{% endfor %}
					</ul>
					<!-- /Comment Reply -->
					
				</li>
				<!-- /Comment List -->
			{% endfor %}
				
			</ul>
			<!-- /Comment List -->
			
		</div>
	</div>
{% endblock %}					