<!DOCTYPE html> 
<html lang="en">
	
<!-- doccure/profile-settings.html  30 Nov 2019 04:12:18 GMT -->
<head>
		<meta charset="utf-8">
		<title>Doccure | {% block title %} {% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		{% load static %}
		
		<!-- Favicons -->
		<link href="{% static 'cas/img/favicon.png' %}" rel="icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'cas/css/bootstrap.min.css' %}">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{% static 'cas/plugins/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'cas/plugins/fontawesome/css/all.min.css' %}">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="{% static 'cas/css/style.css' %}">
		{% block css %}
		{% endblock %}

	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">

			<!-- Header -->
			<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="{% url 'index' %}" class="navbar-brand logo">
							<img src="{% static 'cas/img/logo.png' %}" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="{% url 'index' %}" class="menu-logo">
								<img src="{% static 'cas/img/logo.png' %}" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li>
								<a href="{% url 'index' %}">Home</a>
							</li>
							<li class="has-submenu active">
								<a href="#">Patients <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="{% url 'patient-dashboard' %}">Patient Dashboard</a></li>
									<li><a href="{% url 'favourites' %}">Favourites</a></li>
									<li><a href="{% url 'chat' %}">Chat</a></li>
									<li><a href="{% url 'profile-settings' %}">Profile Settings</a></li>
									<li><a href="{% url 'change-password' %}">Change Password</a></li>
								</ul>
							</li>	
							<li class="has-submenu">
								<a href="#">Pages <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="{% url 'logout' %}">Logout</a></li>
								</ul>
							</li>
						</ul>
					</div>		 
					<ul class="nav header-navbar-rht">
						<!-- User Menu -->
						<li class="nav-item dropdown has-arrow logged-item">
							<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
								<span class="user-img">
									<img class="rounded-circle" src="{{profile.image.url}}" width="31" alt="{{user.first_name}} {{user.last_name}}">
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<div class="user-header">
									<div class="avatar avatar-sm">
										<img src="{{profile.image.url}}" alt="User Image" class="avatar-img rounded-circle">
									</div>
									<div class="user-text">
										<h6>{{user.first_name}} {{user.last_name}}</h6>
										<p class="text-muted mb-0">Patient</p>
									</div>
								</div>
								<a class="dropdown-item" href="{% url 'patient-dashboard' %}">Dashboard</a>
								<a class="dropdown-item" href="{% url 'profile-settings' %}">Profile Settings</a>
								<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
							</div>
						</li>
						<!-- /User Menu -->
						
					</ul>
				</nav>
			</header>
			<!-- /Header -->

		
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="{% url 'patient-dashboard' %}">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">
										{% block breadcrumb1 %} {% endblock %}
									</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">
								{% block breadcrumb %} {% endblock %}
							</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
					
						<!-- Profile Sidebar -->
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
							<div class="profile-sidebar">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a href="{% url 'patient-dashboard' %}" class="booking-doc-img">
											<img src="{{profile.image.url}}" alt="User Image">
										</a>
										<div class="profile-det-info">
											<h3>{{user.first_name}} {{user.last_name}}</h3>
											{% if profile != None %}
											<div class="patient-details">
												<h5><i class="fas fa-birthday-cake"></i> {{profile.d_o_b}}, {{ profile.d_o_b|timesince }}</h5>
												<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{profile.county}}, {{profile.country}}</h5>
											</div>
											{% endif %}
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
									{% block sidenav %}
										
									{% endblock %}	
									</nav>
								</div>

							</div>
						</div>
						<!-- /Profile Sidebar -->
						{% block content %}
						
						{% endblock %}

					</div>
				</div>

			</div>		
			<!-- /Page Content -->
   
			<!-- Footer -->
			<footer class="footer">
				
				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="{% static 'cas/img/footer-logo.png' %}" alt="logo">
									</div>
									<div class="footer-about-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
										<div class="social-icon">
											<ul>
												<li>
													<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Patients</h2>
									<ul>
										<li><a href="{% url 'profile-settings' %}"><i class="fas fa-angle-double-right"></i> Profile Settings</a></li>
										<li><a href="{% url 'favourites' %}"><i class="fas fa-angle-double-right"></i> Favourites</a></li>
										<li><a href="{% url 'patient-dashboard' %}"><i class="fas fa-angle-double-right"></i> Patient Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">Others</h2>
									<ul>
										<li><a href="{% url 'chat' %}"><i class="fas fa-angle-double-right"></i> Messages</a></li>
										<li><a href="{% url 'logout' %}"><i class="fas fa-angle-double-right"></i> Logout</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-contact">
									<h2 class="footer-title">Contact Us</h2>
									<div class="footer-contact-info">
										<div class="footer-address">
											<span><i class="fas fa-map-marker-alt"></i></span>
											<p> 1234  Biashara Street, Nairobi,<br> Kenya, +254 </p>
										</div>
										<p>
											<i class="fas fa-phone-alt"></i>
											+1 234 567 8910
										</p>
										<p class="mb-0">
											<i class="fas fa-envelope"></i>
											doccure@example.com
										</p>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container-fluid">
					
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0"><a href="https://github.com/MalonzaElkanah/">Malone</a></p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
								
									<!-- Copyright Menu -->
									<div class="copyright-menu">
										<ul class="policy-menu">
											<li><a href="{% url 'term-condition' %}">Terms and Conditions</a></li>
											<li><a href="{% url 'privacy-policy' %}">Policy</a></li>
										</ul>
									</div>
									<!-- /Copyright Menu -->
									
								</div>
							</div>
						</div>
						<!-- /Copyright -->
						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->
		   
		</div>
		<!-- /Main Wrapper -->
		{% block modal %}
		{% endblock %}
	  
		<!-- jQuery -->
		<script src="{% static 'cas/js/jquery.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{% static 'cas/js/popper.min.js' %}"></script>
		<script src="{% static 'cas/js/bootstrap.min.js' %}"></script>
		
		{% block javascript %} {% endblock %}
		
		<!-- Sticky Sidebar JS -->
        <script src="{% static 'cas/plugins/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
        <script src="{% static 'cas/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static 'cas/js/script.js' %}"></script>
		
	</body>
</html>