{% extends "patients/base.html" %}

{% block title %}Change Password{% endblock %}

{% load static %}

{% block breadcrumb %}Change Password{% endblock %}
{% block breadcrumb1 %}Change Password{% endblock %}

{% block sidenav %}
	<ul>
		<li>
			<a href="{% url 'patient-dashboard' %}">
				<i class="fas fa-columns"></i>
				<span>Dashboard</span>
			</a>
		</li>
		<li>
			<a href="{% url 'favourites' %}">
				<i class="fas fa-bookmark"></i>
				<span>Favourites</span>
			</a>
		</li>
		<li>
			<a href="{% url 'chat' %}">
				<i class="fas fa-comments"></i>
				<span>Message</span>
				<small class="unread-msg">23</small>
			</a>
		</li>
		<li>
			<a href="{% url 'profile-settings' %}">
				<i class="fas fa-user-cog"></i>
				<span>Profile Settings</span>
			</a>
		</li>
		<li class="active">
			<a href="{% url 'change-password' %}">
				<i class="fas fa-lock"></i>
				<span>Change Password</span>
			</a>
		</li>
		<li>
			<a href="{% url 'logout' %}">
				<i class="fas fa-sign-out-alt"></i>
				<span>Logout</span>
			</a>
		</li>
	</ul>
{% endblock %}

{% block content %}
	<div class="col-md-7 col-lg-8 col-xl-9">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-md-12 col-lg-6">
					
						<!-- Change Password Form -->
						<form class="add-form" method="POST" action="{% url 'change-password' %}">
							{% csrf_token %}
							<div class="form-group">
								<label>Old Password</label>
								<input type="password" class="form-control" name="old_password">
							</div>
							<div class="form-group">
								<label>New Password</label>
								<input type="password" class="form-control" name="new_password">
							</div>
							<div class="form-group">
								<label>Confirm Password</label>
								<input type="password" class="form-control" name="confirm_password">
							</div>
							<div class="submit-section">
								<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
							</div>
						</form>
						<!-- /Change Password Form -->
						
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{% static 'cas/js/ajax.js' %}"></script>
{% endblock %}