{% extends "administrators/base.html" %}

{% block title %} Doctor List {% endblock %}

{% load static %}

{% block css %}
	<!-- Datatables CSS -->
	<link rel="stylesheet" href="{% static 'administrators/plugins/datatables/datatables.min.css' %}">
{% endblock %}

{% block sidenav %}	
	<li> 
		<a href="{% url 'admin-dashboard' %}"><i class="fe fe-home"></i> <span>Dashboard</span></a>
	</li>
	<li> 
		<a href="{% url 'appointment-list' %}"><i class="fe fe-layout"></i> <span>Appointments</span></a>
	</li>
	<li> 
		<a href="{% url 'specialities' %}"><i class="fe fe-users"></i> <span>Specialities</span></a>
	</li>
	<li class="active"> 
		<a href="{% url 'doctor-list' %}"><i class="fe fe-user-plus"></i> <span>Doctors</span></a>
	</li>
	<li> 
		<a href="{% url 'patient-list' %}"><i class="fe fe-user"></i> <span>Patients</span></a>
	</li>
	<li> 
		<a href="{% url 'admin-reviews' %}"><i class="fe fe-star-o"></i> <span>Reviews</span></a>
	</li>
	<li> 
		<a href="{% url 'transactions-list' %}"><i class="fe fe-activity"></i> <span>Transactions</span></a>
	</li>
	<li> 
		<a href="{% url 'settings' %}"><i class="fe fe-vector"></i> <span>Settings</span></a>
	</li>
	<li class="submenu">
		<a href="#"><i class="fe fe-document"></i> <span> Reports</span> <span class="menu-arrow"></span></a>
		<ul style="display: none;">
			<li><a href="{% url 'invoice-report' %}">Invoice Reports</a></li>
		</ul>
	</li>
	<li class="menu-title"> 
		<span>Pages</span>
	</li>
	<li> 
		<a href="{% url 'profile' %}"><i class="fe fe-user-plus"></i> <span>Profile</span></a>
	</li>
	<li class="submenu">
		<a href="#"><i class="fe fe-document"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
		<ul style="display: none;">
			<li><a href="{% url 'login' %}"> Login </a></li>
			<li><a href="{% url 'register' %}"> Register </a></li>
			<li><a href="{% url 'forgot-password' %}"> Forgot Password </a></li>
			<li><a href="{% url 'lock-screen' %}"> Lock Screen </a></li>
		</ul>
	</li>
{% endblock %}

{% block breadcrumb %}List of Doctors{% endblock %}

{% block breadcrumb1 %}Doctor {% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						<table class="datatable table table-hover table-center mb-0">
							<thead>
								<tr>
									<th>Doctor Name</th>
									<th>Speciality</th>
									<th>Member Since</th>
									<th>Earned</th>
									<th>Account Status</th>
									
								</tr>
							</thead>
							<tbody>
							{% for doctor in doctors %}
								<tr>
									<td>
										<h2 class="table-avatar">
											<a href="{% url 'doctor-profile' doctor.full_name|slugify doctor.id %}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{doctor.image.url}}" alt="User Image"></a>
											<a href="{% url 'doctor-profile' doctor.full_name|slugify doctor.id %}">{{doctor.full_name}}</a>
										</h2>
									</td>
									<td>{{doctor.speciality.name}}</td>
									
									<td>{{doctor.user.date_joined.date}} <br><small>{{doctor.user.date_joined.time}}</small></td>
									
									<td>Ksh {{doctor.total_revenue}}</td>
									
									<td>
										<div class="status-toggle">
										{% if doctor.user.is_active %}
											<input type="checkbox" id="status_1" class="check" checked>
										{% else %}
											<input type="checkbox" id="status_1" class="check">
										{% endif %}
											<label for="status_1" class="checktoggle">checkbox</label>
										</div>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>			
	</div>
{% endblock %}

{% block javascript %} 
	<!-- Datatables JS -->
	<script src="{% static 'administrators/plugins/datatables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'administrators/plugins/datatables/datatables.min.js' %}"></script>
{% endblock %}
