{% extends "administrators/base.html" %}

{% block title %} Doctor List {% endblock %}

{% load static %}

{% block css %}
	<!-- Datatables CSS -->
	<link rel="stylesheet" href="{% static 'administrators/plugins/datatables/datatables.min.css' %}">
{% endblock %}

{% block sidenav %}	
	<li> 
		<a href="{% url 'admin-dashboard' %}"><i class="fe fe-home"></i> <span>Dashboard</span></a>
	</li>
	<li> 
		<a href="{% url 'appointment-list' %}"><i class="fe fe-layout"></i> <span>Appointments</span></a>
	</li>
	<li> 
		<a href="{% url 'specialities' %}"><i class="fe fe-users"></i> <span>Specialities</span></a>
	</li>
	<li class="active"> 
		<a href="{% url 'doctor-list' %}"><i class="fe fe-user-plus"></i> <span>Doctors</span></a>
	</li>
	<li> 
		<a href="{% url 'patient-list' %}"><i class="fe fe-user"></i> <span>Patients</span></a>
	</li>
	<li> 
		<a href="{% url 'admin-reviews' %}"><i class="fe fe-star-o"></i> <span>Reviews</span></a>
	</li>
	<li> 
		<a href="{% url 'transactions-list' %}"><i class="fe fe-activity"></i> <span>Transactions</span></a>
	</li>
	<li> 
		<a href="{% url 'settings' %}"><i class="fe fe-vector"></i> <span>Settings</span></a>
	</li>
	<li class="submenu">
		<a href="#"><i class="fe fe-document"></i> <span> Reports</span> <span class="menu-arrow"></span></a>
		<ul style="display: none;">
			<li><a href="{% url 'invoice-report' %}">Invoice Reports</a></li>
		</ul>
	</li>
	<li class="menu-title"> 
		<span>Pages</span>
	</li>
	<li> 
		<a href="{% url 'profile' %}"><i class="fe fe-user-plus"></i> <span>Profile</span></a>
	</li>
	<li class="submenu">
		<a href="#"><i class="fe fe-document"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
		<ul style="display: none;">
			<li><a href="{% url 'login' %}"> Login </a></li>
			<li><a href="{% url 'register' %}"> Register </a></li>
			<li><a href="{% url 'forgot-password' %}"> Forgot Password </a></li>
			<li><a href="{% url 'lock-screen' %}"> Lock Screen </a></li>
		</ul>
	</li>
{% endblock %}

{% block breadcrumb %}List of Doctors{% endblock %}

{% block breadcrumb1 %}Doctor {% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						<table class="datatable table table-hover table-center mb-0">
							<thead>
								<tr>
									<th>Doctor Name</th>
									<th>Speciality</th>
									<th>Member Since</th>
									<th>Earned</th>
									<th>Account Status</th>
									
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<h2 class="table-avatar">
											<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-01.jpg" alt="User Image"></a>
											<a href="profile.html">Dr. Ruby Perrin</a>
										</h2>
									</td>
									<td>Dental</td>
									
									<td>14 Jan 2019 <br><small>02.59 AM</small></td>
									
									<td>$3100.00</td>
									
									<td>
										<div class="status-toggle">
											<input type="checkbox" id="status_1" class="check" checked>
											<label for="status_1" class="checktoggle">checkbox</label>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<h2 class="table-avatar">
											<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image"></a>
											<a href="profile.html">Dr. Darren Elder</a>
										</h2>
									</td>
									<td>Dental</td>
									
									<td>11 Jun 2019 <br><small>4.50 AM</small></td>
									
									<td>$5000.00</td>
									
									<td>
										<div class="status-toggle">
											<input type="checkbox" id="status_1" class="check" checked>
											<label for="status_1" class="checktoggle">checkbox</label>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<h2 class="table-avatar">
											<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-03.jpg" alt="User Image"></a>
											<a href="profile.html">Dr. Deborah Angel</a>
										</h2>
									</td>
									<td>Cardiology</td>
									
									<td>4 Jan 2018 <br><small>9.40 AM</small></td>
									
									<td>$3300.00</td>
									
									<td>
										<div class="status-toggle">
											<input type="checkbox" id="status_1" class="check" checked>
											<label for="status_1" class="checktoggle">checkbox</label>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<h2 class="table-avatar">
											<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-04.jpg" alt="User Image"></a>
											<a href="profile.html">Dr. Sofia Brient</a>
										</h2>
									</td>
									<td>Urology</td>
									
									<td>5 Jul 2019 <br><small>12.59 AM</small></td>
									
									<td>$3500.00</td>
									
									<td>
										<div class="status-toggle">
											<input type="checkbox" id="status_1" class="check" checked>
											<label for="status_1" class="checktoggle">checkbox</label>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<h2 class="table-avatar">
											<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-05.jpg" alt="User Image"></a>
											<a href="profile.html">Dr. Marvin Campbell</a>
										</h2>
									</td>
									<td>Orthopaedics</td>
									
									<td>24 Jan 2019 <br><small>02.59 AM</small></td>
									
									<td>$3700.00</td>
									
									<td>
										<div class="status-toggle">
											<input type="checkbox" id="status_1" class="check" checked>
											<label for="status_1" class="checktoggle">checkbox</label>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<h2 class="table-avatar">
											<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-06.jpg" alt="User Image"></a>
											<a href="profile.html">Dr. Katharine Berthold</a>
										</h2>
									</td>
									<td>Orthopaedics</td>
									
									<td>23 Mar 2019 <br><small>02.50 PM</small></td>
									
									<td>$4000.00</td>
									
									<td>
										<div class="status-toggle">
											<input type="checkbox" id="status_1" class="check" checked>
											<label for="status_1" class="checktoggle">checkbox</label>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<h2 class="table-avatar">
											<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-07.jpg" alt="User Image"></a>
											<a href="profile.html">Dr. Linda Tobin</a>
										</h2>
									</td>
									<td>Neurology</td>
									
									<td>14 Dec 2018 <br><small>01.59 AM</small></td>
									
									<td>$2000.00</td>
									
									<td>
										<div class="status-toggle">
											<input type="checkbox" id="status_1" class="check" checked>
											<label for="status_1" class="checktoggle">checkbox</label>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<h2 class="table-avatar">
											<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-08.jpg" alt="User Image"></a>
											<a href="profile.html">Dr. Paul Richard</a>
										</h2>
									</td>
									<td>Dermatology</td>
									
									<td>11 Jan 2019 <br><small>02.59 AM</small></td>
									
									<td>$3000.00</td>
									
									<td>
										<div class="status-toggle">
											<input type="checkbox" id="status_1" class="check" checked>
											<label for="status_1" class="checktoggle">checkbox</label>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<h2 class="table-avatar">
											<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-09.jpg" alt="User Image"></a>
											<a href="profile.html">Dr. John Gibbs</a>
										</h2>
									</td>
									<td>Dental</td>
									
									<td>21 Apr 2018 <br><small>02.59 PM</small></td>
									
									<td>$4100.00</td>
									
									<td>
										<div class="status-toggle">
											<input type="checkbox" id="status_1" class="check" checked>
											<label for="status_1" class="checktoggle">checkbox</label>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<h2 class="table-avatar">
											<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-10.jpg" alt="User Image"></a>
											<a href="profile.html">Dr. Olga Barlow</a>
										</h2>
									</td>
									<td>Dental</td>
									
									<td>15 Feb 2018 <br><small>03.59 AM</small></td>
									
									<td>$3500.00</td>
									
									<td>
										<div class="status-toggle">
											<input type="checkbox" id="status_1" class="check" checked>
											<label for="status_1" class="checktoggle">checkbox</label>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>			
	</div>
{% endblock %}

{% block javascript %} 
	<!-- Datatables JS -->
	<script src="{% static 'administrators/plugins/datatables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'administrators/plugins/datatables/datatables.min.js' %}"></script>
{% endblock %}
