{% extends "administrators/base.html" %}

{% block title %}Reviews{% endblock %}

{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'administrators/plugins/datatables/datatables.min.css' %}">
{% endblock %}

{% block sidenav %}
	<li> 
		<a href="{% url 'admin-dashboard' %}"><i class="fe fe-home"></i> <span>Dashboard</span></a>
	</li>
	<li> 
		<a href="{% url 'appointment-list' %}"><i class="fe fe-layout"></i> <span>Appointments</span></a>
	</li>
	<li> 
		<a href="{% url 'specialities' %}"><i class="fe fe-users"></i> <span>Specialities</span></a>
	</li>
	<li> 
		<a href="{% url 'doctor-list' %}"><i class="fe fe-user-plus"></i> <span>Doctors</span></a>
	</li>
	<li> 
		<a href="{% url 'patient-list' %}"><i class="fe fe-user"></i> <span>Patients</span></a>
	</li>
	<li class="active"> 
		<a href="{% url 'admin-reviews' %}"><i class="fe fe-star-o"></i> <span>Reviews</span></a>
	</li>
	<li> 
		<a href="{% url 'transactions-list' %}"><i class="fe fe-activity"></i> <span>Transactions</span></a>
	</li>
	<li> 
		<a href="{% url 'settings' %}"><i class="fe fe-vector"></i> <span>Settings</span></a>
	</li>
	<li class="submenu">
		<a href="#"><i class="fe fe-document"></i> <span> Reports</span> <span class="menu-arrow"></span></a>
		<ul style="display: none;">
			<li><a href="{% url 'invoice-report' %}">Invoice Reports</a></li>
		</ul>
	</li>
	<li class="menu-title"> 
		<span>Pages</span>
	</li>
	<li> 
		<a href="{% url 'profile' %}"><i class="fe fe-user-plus"></i> <span>Profile</span></a>
	</li>
	<li class="submenu">
		<a href="#"><i class="fe fe-document"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
		<ul style="display: none;">
			<li><a href="{% url 'login' %}"> Login </a></li>
			<li><a href="{% url 'register' %}"> Register </a></li>
			<li><a href="{% url 'forgot-password' %}"> Forgot Password </a></li>
			<li><a href="{% url 'lock-screen' %}"> Lock Screen </a></li>
		</ul>
	</li>
	
{% endblock %}

{% block breadcrumb %}Reviews{% endblock %}

{% block breadcrumb1 %}Reviews{% endblock %}

{% block content %}					
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						<table class="datatable table table-hover table-center mb-0">
							<thead>
								<tr>
									<th>Patient Name</th>
									<th>Doctor Name</th>
									<th>Ratings</th>
									<th>Description</th>
									<th>Date</th>
									<th class="text-right">Actions</th>
								</tr>
							</thead>
							<tbody>
							{% for review in reviews %}
								<tr>
									<td>
										<h2 class="table-avatar">
											<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{review.patient.image.url}}" alt="User Image"></a>
											<a href="profile.html">{{review.patient}} </a>
										</h2>
									</td>
									<td>
										<h2 class="table-avatar">
											<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{review.doctor.image.url}}" alt="User Image"></a>
											<a href="profile.html">{{review.doctor.full_name}}</a>
										</h2>
									</td>
									
									<td>
										<i class="fe fe-star text-warning"></i>
										<i class="fe fe-star text-warning"></i>
										<i class="fe fe-star text-warning"></i>
										<i class="fe fe-star text-warning"></i>
										<i class="fe fe-star-o text-secondary"></i>
									</td>
									
									<td>
										{{review.text}}
									</td>
										<td>{{review.date.date}} <br><small>{{review.date.date}}</small></td>
									<td class="text-right">
										<div class="actions">
											<a class="btn btn-sm bg-danger-light" data-toggle="modal" href="#delete_modal">
												<i class="fe fe-trash"></i> Delete
											</a>
											
										</div>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>			
	</div>
{% endblock %}					
				
{% block modal %}
	<!-- Delete Modal -->
	<div class="modal fade" id="delete_modal" aria-hidden="true" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document" >
			<div class="modal-content">
			<!--	<div class="modal-header">
					<h5 class="modal-title">Delete</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>-->
				<div class="modal-body">
					<div class="form-content p-2">
						<h4 class="modal-title">Delete</h4>
						<p class="mb-4">Are you sure want to delete?</p>
						<button type="button" class="btn btn-primary">Save </button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Delete Modal -->
{% endblock %}

{% block javascript %} 
	<!-- Datatables JS -->
	<script src="{% static 'administrators/plugins/datatables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'administrators/plugins/datatables/datatables.min.js' %}"></script>
{% endblock %}