{% extends "administrators/base.html" %}

{% block title %}Reviews{% endblock %}

{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'administrators/plugins/datatables/datatables.min.css' %}">
{% endblock %}

{% block sidenav %}
	<li> 
		<a href="{% url 'admin-dashboard' %}"><i class="fe fe-home"></i> <span>Dashboard</span></a>
	</li>
	<li> 
		<a href="{% url 'appointment-list' %}"><i class="fe fe-layout"></i> <span>Appointments</span></a>
	</li>
	<li> 
		<a href="{% url 'specialities' %}"><i class="fe fe-users"></i> <span>Specialities</span></a>
	</li>
	<li> 
		<a href="{% url 'doctor-list' %}"><i class="fe fe-user-plus"></i> <span>Doctors</span></a>
	</li>
	<li> 
		<a href="{% url 'patient-list' %}"><i class="fe fe-user"></i> <span>Patients</span></a>
	</li>
	<li class="active"> 
		<a href="{% url 'admin-reviews' %}"><i class="fe fe-star-o"></i> <span>Reviews</span></a>
	</li>
	<li> 
		<a href="{% url 'transactions-list' %}"><i class="fe fe-activity"></i> <span>Transactions</span></a>
	</li>
	<li> 
		<a href="{% url 'settings' %}"><i class="fe fe-vector"></i> <span>Settings</span></a>
	</li>
	<li class="submenu">
		<a href="#"><i class="fe fe-document"></i> <span> Reports</span> <span class="menu-arrow"></span></a>
		<ul style="display: none;">
			<li><a href="{% url 'invoice-report' %}">Invoice Reports</a></li>
		</ul>
	</li>
	<li class="menu-title"> 
		<span>Pages</span>
	</li>
	<li> 
		<a href="{% url 'profile' %}"><i class="fe fe-user-plus"></i> <span>Profile</span></a>
	</li>
	<li class="submenu">
		<a href="#"><i class="fe fe-document"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
		<ul style="display: none;">
			<li><a href="{% url 'login' %}"> Login </a></li>
			<li><a href="{% url 'register' %}"> Register </a></li>
			<li><a href="{% url 'forgot-password' %}"> Forgot Password </a></li>
			<li><a href="{% url 'lock-screen' %}"> Lock Screen </a></li>
		</ul>
	</li>
	
{% endblock %}

{% block breadcrumb %}Reviews{% endblock %}

{% block breadcrumb1 %}Reviews{% endblock %}

{% block content %}					
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						<table class="datatable table table-hover table-center mb-0">
							<thead>
								<tr>
									<th>Patient Name</th>
									<th>Doctor Name</th>
									<th>Ratings</th>
									<th>Description</th>
									<th>Date</th>
									<th class="text-right">Actions</th>
								</tr>
							</thead>
							<tbody>
							{% for review in reviews %}
								<tr>
									<td>
										<h2 class="table-avatar">
											<a href="#" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{review.appointment.patient.image.url}}" alt="User Image"></a>
											<a href="#">{{review.appointment.patient}} </a>
										</h2>
									</td>
									<td>
										<h2 class="table-avatar">
											<a href="{% url 'doctor-profile' review.appointment.doctor.full_name|slugify review.appointment.doctor.id %}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{review.appointment.doctor.image.url}}" alt="User Image"></a>
											<a href="{% url 'doctor-profile' review.appointment.doctor.full_name|slugify review.appointment.doctor.id %}">{{review.appointment.doctor.full_name}}</a>
										</h2>
									</td>
									
									<td>
									{% for x, rate in review.review_rate.items %}
										{% if rate == 'filled' %}
										<i class="fe fe-star text-warning"></i>
										{% else %}
										<i class="fe fe-star-o text-secondary"></i>
										{% endif %}
									{% endfor %}
									</td>
									
									<td>
										{{review.text}}
									</td>
										<td>{{review.date.date}} <br><small>{{review.date.time}}</small></td>
									<td class="text-right">
										<div class="actions">
											<a class="btn btn-sm bg-danger-light" data-toggle="modal" href="#delete-review{{review.id}}_modal">
												<i class="fe fe-trash"></i> Delete
											</a>
											
										</div>
									</td>
								</tr>
								{% for reply in review.replies %}
									<tr>

										<td>
											{% if reply.get_group == 'patients_group' %}
											<h2 class="table-avatar">
												<a href="#" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{reply.get_user.image.url}}" alt="User Image"></a>
												<a href="#">{{reply.get_user.first_name}} {{reply.get_user.second_name}}</a>
											</h2>
											{% else %}
											(reply)
											{% endif %}
										</td>
										<td>
											{% if reply.get_group == 'doctors_group' %}
											<h2 class="table-avatar">
												<a href="{% url 'doctor-profile' reply.get_user.full_name|slugify reply.get_user.id %}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{reply.get_user.image.url}}" alt="User Image"></a>
												<a href="{% url 'doctor-profile' reply.get_user.full_name|slugify reply.get_user.id %}">{{reply.get_user.full_name}}</a>
											</h2>
											{% else %}
											(reply)
											{% endif %}
										</td>
										
										<td class="text-center">-</td>
										
										<td>
											{{reply.text}}
										</td>
											<td>{{reply.date.date}} <br><small>{{reply.date.time}}</small></td>
										<td class="text-right">
											<div class="actions">
												<a class="btn btn-sm bg-danger-light" data-toggle="modal" href="#delete-reply{{reply.id}}_modal">
													<i class="fe fe-trash"></i> Delete
												</a>
												
											</div>
										</td>
									</tr>
								{% endfor %}
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>			
	</div>
{% endblock %}					
				
{% block modal %}
	{% for review in reviews %}
	<!-- Delete Modal -->
	<div class="modal fade" id="delete-review{{review.id}}_modal" aria-hidden="true" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document" >
			<div class="modal-content">
				<div class="modal-body">
					<form method="post" action="{% url 'delete-review' %}">
						<input type="text" name="review" value="{{review.id}}" style="display: none;">
						{% csrf_token %}
						<div class="form-content p-2">
							<h4 class="modal-title">Delete</h4>
							<p class="mb-4">Are you sure want to delete?</p>
							<button type="submit" class="btn btn-danger">Delete </button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Delete Modal -->
	
		{% for reply in review.replies %}
		<!-- Delete Modal -->
		<div class="modal fade" id="delete-reply{{reply.id}}_modal" aria-hidden="true" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document" >
				<div class="modal-content">
					<div class="modal-body">
						<form method="post" action="{% url 'delete-reply' %}">
							<input type="text" name="reply" value="{{reply.id}}" style="display: none;">
							{% csrf_token %}
							<div class="form-content p-2">
								<h4 class="modal-title">Delete</h4>
								<p class="mb-4">Are you sure want to delete?</p>
								<button type="submit" class="btn btn-danger">Delete </button>
								<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /Delete Modal -->
		{% endfor %}
	{% endfor %}
{% endblock %}

{% block javascript %} 
	<!-- Datatables JS -->
	<script src="{% static 'administrators/plugins/datatables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'administrators/plugins/datatables/datatables.min.js' %}"></script>
{% endblock %}