{% extends "administrators/base.html" %}

{% block title %} Specialities {% endblock %}

{% load static %} 

{% block css %}
	<link rel="stylesheet" href="{% static 'administrators/plugins/datatables/datatables.min.css' %}">
{% endblock %}
{% block sidenav %}
	<li> 
		<a href="{% url 'admin-dashboard' %}"><i class="fe fe-home"></i> <span>Dashboard</span></a>
	</li>
	<li> 
		<a href="{% url 'appointment-list' %}"><i class="fe fe-layout"></i> <span>Appointments</span></a>
	</li>
	<li class="active"> 
		<a href="{% url 'specialities' %}"><i class="fe fe-users"></i> <span>Specialities</span></a>
	</li>
	<li> 
		<a href="{% url 'doctor-list' %}"><i class="fe fe-user-plus"></i> <span>Doctors</span></a>
	</li>
	<li> 
		<a href="{% url 'patient-list' %}"><i class="fe fe-user"></i> <span>Patients</span></a>
	</li>
	<li> 
		<a href="{% url 'admin-reviews' %}"><i class="fe fe-star-o"></i> <span>Reviews</span></a>
	</li>
	<li> 
		<a href="{% url 'transactions-list' %}"><i class="fe fe-activity"></i> <span>Transactions</span></a>
	</li>
	<li> 
		<a href="{% url 'settings' %}"><i class="fe fe-vector"></i> <span>Settings</span></a>
	</li>
	<li class="submenu">
		<a href="#"><i class="fe fe-document"></i> <span> Reports</span> <span class="menu-arrow"></span></a>
		<ul style="display: none;">
			<li><a href="{% url 'invoice-report' %}">Invoice Reports</a></li>
		</ul>
	</li>
	<li class="menu-title"> 
		<span>Pages</span>
	</li>
	<li> 
		<a href="{% url 'profile' %}"><i class="fe fe-user-plus"></i> <span>Profile</span></a>
	</li>
	<li class="submenu">
		<a href="#"><i class="fe fe-document"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
		<ul style="display: none;">
			<li><a href="{% url 'logout' %}"> Logout </a></li>
			<li><a href="{% url 'lock-screen' %}"> Lock Screen </a></li>
		</ul>
	</li>
	
{% endblock %}

{% block breadcrumb %}Specialities{% endblock %}

{% block breadcrumb1 %} Specialities {% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header">
                    <div class="card-header-action">
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#Add_Specialities_details">Add Speciality</a>
                    </div>
                </div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="datatable table table-hover table-center mb-0">
							<thead>
								<tr>
									<th>#</th>
									<th>Specialities</th>
									<th class="text-right">Actions</th>
								</tr>
							</thead>
							<tbody>
							{% for speciality in specialities %}
								<tr>
									<td>#SP00{{speciality.id}}</td>
									
									<td>
										<h2 class="table-avatar">
											<a href="profile.html" class="avatar avatar-sm mr-2">
												<img class="avatar-img" src="{{speciality.image.url}}" alt="Speciality">
											</a>
											<a href="profile.html">{{speciality.name}}</a>
										</h2>
									</td>
								
									<td class="text-right">
										<div class="actions">
											<a class="btn btn-sm bg-success-light" data-toggle="modal" href="#edit_specialities_details{{speciality.id}}">
												<i class="fe fe-pencil"></i> Edit
											</a>
											<a  data-toggle="modal" href="#delete_modal{{speciality.id}}" class="btn btn-sm bg-danger-light">
												<i class="fe fe-trash"></i> Delete
											</a>
										</div>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>			
	</div>
{% endblock %}

{% block modal %}
	<!-- Add Modal -->
	<div class="modal fade" id="Add_Specialities_details" aria-hidden="true" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document" >
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Specialities</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form enctype="multipart/form-data" method="post" action="{% url 'specialities' %}">
						{% csrf_token %}
						<div class="row form-row">
							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label>Specialities</label>
									<input type="text" class="form-control" name="name">
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label>Image</label>
									<input type="file"  class="form-control" name="image">
								</div>
							</div>
							
						</div>
						<button type="submit" class="btn btn-primary btn-block">Save Changes</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /ADD Modal -->

	{% for speciality, form in forms.items %}
	<!-- Edit Details Modal{{speciality.id}} -->
	<div class="modal fade" id="edit_specialities_details{{speciality.id}}" aria-hidden="true" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document" >
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Specialities</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form enctype="multipart/form-data" method="post" action="{% url 'edit-speciality' %}">
						{% csrf_token %}
						<input type="text" name="speciality" value="{{speciality.id}}" style="display: none;">
						<div class="row form-row">
							<div class="col-12 col-sm-6">
								<div class="form-group">
									<label>Specialities</label>
									<input type="text" class="form-control" name="name" value="{{speciality.name}}">
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-group">
								{% for field in form %}
									{% if field.name == 'image' %}
									<label>{{field.label}}</label>
									{{field}}
									{% endif %}
								{% endfor %}
								</div>
							</div>
							
						</div>
						<button type="submit" class="btn btn-primary btn-block">Save Changes</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Edit Details Modal -->
	
	<!-- Delete Modal -->
	<div class="modal fade" id="delete_modal{{speciality.id}}" aria-hidden="true" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document" >
			<div class="modal-content">
			<!--	<div class="modal-header">
					<h5 class="modal-title">Delete</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>-->
				<div class="modal-body">
					<form method="post" action="{% url 'delete-speciality' %}">
						<input type="text" name="speciality" value="{{speciality.id}}" style="display: none;">
						{% csrf_token %}
						<div class="form-content p-2">
							<h4 class="modal-title">Delete</h4>
							<p class="mb-4">Are you sure want to delete?</p>
							<button type="submit" class="btn btn-primary">Save </button>
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
{% endblock %}

{% block javascript %}
	<!-- Datatables JS -->
	<script src="{% static 'administrators/plugins/datatables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'administrators/plugins/datatables/datatables.min.js' %}"></script>
{% endblock %}
