{% extends "administrators/base.html" %}

{% block title %}Transactions List {% endblock %}

{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'administrators/plugins/datatables/datatables.min.css' %}">
{% endblock %}

{% block sidenav %}
	<li> 
		<a href="{% url 'admin-dashboard' %}"><i class="fe fe-home"></i> <span>Dashboard</span></a>
	</li>
	<li> 
		<a href="{% url 'appointment-list' %}"><i class="fe fe-layout"></i> <span>Appointments</span></a>
	</li>
	<li> 
		<a href="{% url 'specialities' %}"><i class="fe fe-users"></i> <span>Specialities</span></a>
	</li>
	<li> 
		<a href="{% url 'doctor-list' %}"><i class="fe fe-user-plus"></i> <span>Doctors</span></a>
	</li>
	<li> 
		<a href="{% url 'patient-list' %}"><i class="fe fe-user"></i> <span>Patients</span></a>
	</li>
	<li> 
		<a href="{% url 'admin-reviews' %}"><i class="fe fe-star-o"></i> <span>Reviews</span></a>
	</li>
	<li class="active"> 
		<a href="{% url 'transactions-list' %}"><i class="fe fe-activity"></i> <span>Transactions</span></a>
	</li>
	<li> 
		<a href="{% url 'settings' %}"><i class="fe fe-vector"></i> <span>Settings</span></a>
	</li>
	<li class="submenu">
		<a href="#"><i class="fe fe-document"></i> <span> Reports</span> <span class="menu-arrow"></span></a>
		<ul style="display: none;">
			<li><a href="{% url 'invoice-report' %}">Invoice Reports</a></li>
		</ul>
	</li>
	<li class="menu-title"> 
		<span>Pages</span>
	</li>
	<li> 
		<a href="{% url 'profile' %}"><i class="fe fe-user-plus"></i> <span>Profile</span></a>
	</li>
	<li class="submenu">
		<a href="#"><i class="fe fe-document"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
		<ul style="display: none;">
			<li><a href="{% url 'logout' %}"> Logout </a></li>
			<li><a href="{% url 'lock-screen' %}"> Lock Screen </a></li>
		</ul>
	</li>
	
{% endblock %}

{% block breadcrumb %}Transactions{% endblock %}

{% block breadcrumb1 %}Transactions{% endblock %}

{% block content %}
							
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						<table class="datatable table table-hover table-center mb-0">
							<thead>
								<tr>
									<th>Invoice Number</th>
									<th>Patient ID</th>
									<th>Patient Name</th>
									<th>Total Amount</th>
									<th class="text-center">Status</th>
									<th class="text-right">Actions</th>
								</tr>
							</thead>
							<tbody>
							{% for invoice in invoices %}
								<tr>
									<td><a href="invoice.html">#IN000{{invoice.id}}</td>
									<td>#PT001</td>
									<td>
										<h2 class="table-avatar">
											<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{invoice.patient.image.url}}" alt="User Image"></a>
											<a href="profile.html">{{invoice.patient}}</a>
										</h2>
									</td>
									<td>kSh {{invoice.total_amount}}</td>
									<td class="text-center">
										<span class="badge badge-pill bg-success inv-badge">Paid</span>
									</td>
									<td class="text-right">
										<div class="actions">
											<a class="btn btn-sm bg-danger-light" data-toggle="modal" href="#delete_modal{{invoice.id}}">
												<i class="fe fe-trash"></i> Delete
											</a>
										</div>
									</td>
								</tr>
							{% endfor %}
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>			
	</div>
{% endblock %}

{% block modal %}
	{% for invoice in invoices %}
	<!-- Delete Modal -->
	<div class="modal fade" id="delete_modal{{invoice.id}}" aria-hidden="true" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document" >
			<div class="modal-content">
			<!--	<div class="modal-header">
					<h5 class="modal-title">Delete</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>-->
				<div class="modal-body">
					<div class="form-content p-2">
						<h4 class="modal-title">Delete</h4>
						<p class="mb-4">Are you sure want to delete?</p>
						<button type="button" class="btn btn-primary">Save </button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Delete Modal -->
	{% endfor %}
{% endblock %}		

{% block javascript %} 
	<!-- Datatables JS -->
	<script src="{% static 'administrators/plugins/datatables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'administrators/plugins/datatables/datatables.min.js' %}"></script>
{% endblock %}
