{% extends "cas/base.html" %}

{% block title %} {{patient}} Add Prescription{% endblock %}

{% load static %}

{% block content %}
			
	<!-- Breadcrumb -->
	<div class="breadcrumb-bar">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-md-12 col-12">
					<nav aria-label="breadcrumb" class="page-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Add Billing</li>
						</ol>
					</nav>
					<h2 class="breadcrumb-title">Add Billing</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- /Breadcrumb -->
			
	<!-- Page Content -->
	<div class="content">
		<div class="container-fluid">

			<div class="row">
				<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
				
					<!-- Profile Widget -->
					<div class="card widget-profile pat-widget-profile">
						<div class="card-body">
							<div class="pro-widget-content">
								<div class="profile-info-widget">
									<a href="#" class="booking-doc-img">
										<img src="{{patient.image.url}}" alt="User Image">
									</a>
									<div class="profile-det-info">
										<h3>{{patient}}</h3>
										
										<div class="patient-details">
											<h5><b>Patient ID :</b> PT000{{patient.id}}</h5>
											<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{patient.county}}, {{patient.country}}</h5>
										</div>
									</div>
								</div>
							</div>
							<div class="patient-info">
								<ul>
									<li>Phone <span>{{patient.phone_no}}</span></li>
									<li>Age <span>{{patient.d_o_b|timesince}}, {{patient.gender}}</span></li>
									<li>Blood Group <span>{{patient.blood_group}}</span></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Profile Widget -->
					
				</div>

				<div class="col-md-7 col-lg-8 col-xl-9">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title mb-0">Add Billing</h4>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-sm-6">
									<div class="biller-info">
										<h4 class="d-block">{{profile.full_name}}</h4>
										<span class="d-block text-sm text-muted">{{profile.speciality.name}}</span>
										<span class="d-block text-sm text-muted">{{profile.county}}, {{profile.country}}</span>
									</div>
								</div>
								<div class="col-sm-6 text-sm-right">
									<div class="billing-info">
										<h4 class="d-block">{% now "DATE_FORMAT" %}</h4>
										<span class="d-block text-muted">#NEW</span>
									</div>
								</div>
							</div>
							
							<!-- Add Item -->
							<div class="add-more-item text-right">
								<a href="javascript:void(0);" class="add-bill"><i class="fas fa-plus-circle"></i> Add Item</a>
							</div>
							<!-- /Add Item -->
							<form method="post" action="{% url 'add-billing' patient|slugify patient.id %}">
								{% csrf_token %}
								<!-- Billing Item -->
								<div class="card card-table">
									<div class="card-body">
										<div class="table-responsive">
											<table class="table table-hover table-center">
												<thead>
													<tr>													
														<th style="min-width:200px;">Title</th>					
														<th style="min-width:200px;">Amount</th>		
														<th style="width:80px;"></th>
													</tr>
												</thead>
												<tbody class="bill-info">
													<tr class="bill-cont">								
														<td>	
															<input type="text" class="form-control" name="title_0" required>
														</td>
														<td>
															<input type="text" class="form-control" name="amount_0">
														</td>							
														<td>
															<a href="#" class="btn bg-danger-light trash"><i class="far fa-trash-alt"></i></a>															
														</td>
													</tr>
												</tbody>
												<input type="text" id="form-num" name="form-num" value="1" style="display: none;">
											</table>
										</div>
									</div>
								</div>
								<!-- /Billing Item -->
								
								<!-- Signature -->
								<div class="row">
									<div class="col-md-12 text-right">
										<div class="signature-wrap">
											<div class="signature">
												Click here to sign
											</div>
											<div class="sign-name">
												<p class="mb-0">( Dr. Darren Elder )</p>
												<span class="text-muted">Signature</span>
											</div>
										</div>
									</div>
								</div>
								<!-- /Signature -->
								
								<!-- Submit Section -->
								<div class="row">
									<div class="col-md-12">
										<div class="submit-section">
											<button type="submit" class="btn btn-primary submit-btn">Save</button>
											<button type="reset" class="btn btn-secondary submit-btn">Clear</button>
										</div>
									</div>
								</div>
								<!-- /Submit Section -->
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>		
	<!-- /Page Content -->
{% endblock %}   

{% block javascript %}
	<script src="{% static 'cas/js/ajax.js' %}"></script>
	<script src="{% static 'cas/js/patient-profile.js' %}"></script>
{% endblock %}			