{% extends "doctors/base.html" %}

{% block title %}Profile Settings{% endblock %}

{% load static %}

{% block css %}
	<!-- Datetimepicker CSS -->
	<link rel="stylesheet" href="{% static 'cas/css/bootstrap-datetimepicker.min.css' %}">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="{% static 'cas/plugins/select2/css/select2.min.css' %}">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'cas/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css' %}">

	<link rel="stylesheet" href="{% static 'cas/plugins/dropzone/dropzone.min.css' %}">
{% endblock %}

{% block breadcrumb %}Profile Settings{% endblock %}
{% block breadcrumb1 %}Profile Settings{% endblock %}

{% block sidenav %}
	<ul>
		<li>
			<a href="{% url 'doctor-dashboard' %}">
				<i class="fas fa-columns"></i>
				<span>Dashboard</span>
			</a>
		</li>
		<li>
			<a href="{% url 'appointments' %}">
				<i class="fas fa-calendar-check"></i>
				<span>Appointments</span>
			</a>
		</li>
		<li>
			<a href="{% url 'my-patients' %}">
				<i class="fas fa-user-injured"></i>
				<span>My Patients</span>
			</a>
		</li>
		<li>
			<a href="{% url 'schedule-timings' %}">
				<i class="fas fa-hourglass-start"></i>
				<span>Schedule Timings</span>
			</a>
		</li>
		<li>
			<a href="{% url 'invoices' %}">
				<i class="fas fa-file-invoice"></i>
				<span>Invoices</span>
			</a>
		</li>
		<li>
			<a href="{% url 'reviews' %}">
				<i class="fas fa-star"></i>
				<span>Reviews</span>
			</a>
		</li>
		<li>
			<a href="{% url 'chat-doctor' %}">
				<i class="fas fa-comments"></i>
				<span>Message</span>
				<small class="unread-msg">23</small>
			</a>
		</li>
		<li class="active">
			<a href="{% url 'doctor-profile-settings' %}">
				<i class="fas fa-user-cog"></i>
				<span>Profile Settings</span>
			</a>
		</li>
		<li>
			<a href="{% url 'social-media' %}">
				<i class="fas fa-share-alt"></i>
				<span>Social Media</span>
			</a>
		</li>
		<li>
			<a href="{% url 'doctor-change-password' %}">
				<i class="fas fa-lock"></i>
				<span>Change Password</span>
			</a>
		</li>
		<li>
			<a href="{% url 'logout' %}">
				<i class="fas fa-sign-out-alt"></i>
				<span>Logout</span>
			</a>
		</li>
	</ul>

{% endblock %}

{% block content %}
	
<div class="col-md-7 col-lg-8 col-xl-9">
	<form enctype="multipart/form-data" method="post" action="{% url 'doctor-profile-settings' %}">
	
		<!-- Basic Information -->
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Basic Information</h4>
				<div class="row form-row">
					<div class="col-md-12">
						{% csrf_token %}
						<input type="text" name="user" value="{{user.id}}" style="display: none;">
						<div class="form-group">
							<div class="change-avatar">
								<div class="profile-img">
									<img src="{% static 'cas/img/doctors/doctor-thumb-02.jpg' %}" alt="User Image">
								</div>
								<div class="upload-img">
									<div class="change-photo-btn">
										<span><i class="fa fa-upload"></i> Upload Photo</span>
										<input type="file" class="upload" name="image">
									</div>
									<small class="form-text text-muted">Allowed JPG, GIF or PNG. Max size of 2MB</small>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Email <span class="text-danger">*</span></label>
							<input type="email" class="form-control" value="{{user.email}}" name="email" readonly>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Speciality</label>
							<select class="form-control" name="speciality">
								{% if profile.speciality != None %}
									<option value="{{profile.speciality.id}}" selected>{{profile.speciality.name}}</option>
								{% endif %}
								{% for speciality in specialities %}
									<option value="{{speciality.id}}">{{speciality.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Title <span class="text-danger">*</span></label>
							<select class="form-control" name="title">
							{% if profile.title != None %}
								<option value="{{profile.title}}" selected>{{profile.title}}</option>
							{% endif %}
								<option value="Mr.">Mr.</option>
								<option value="Mrs.">Mrs.</option>
								<option value="Miss">Miss</option>
								<option value="Ms.">Ms.</option>
								<option value="Dr.">Dr.</option>
								<option value="PhD.">PhD.</option>
								<option value="Eng.">Eng.</option>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>First Name <span class="text-danger">*</span></label>
							<input type="text" class="form-control" name="first_name" value="{{user.first_name}}">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Last Name <span class="text-danger">*</span></label>
							<input type="text" class="form-control" name="second_name" value="{{user.last_name}}">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label>Phone Number</label>
							<input type="text" class="form-control" name="phone_no" value="{{profile.phone_no}}">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Gender</label>
							<select class="form-control" name="gender">
								{% if profile.gender != None %}
									<option value="{{profile.gender}}" selected>{{profile.gender}}</option>
								{% endif %}
								<option>Male</option>
								<option>Female</option>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group mb-0">
							<label>Date of Birth</label>
							<input type="text" class="form-control datetimepicker" name=" d_o_b" value="{{profile.d_o_b|date:"Y-m-d"}}">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Basic Information -->
		
		<!-- About Me -->
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">About Me</h4>
				<div class="form-group mb-0">
					<label>Biography</label>
					<textarea class="form-control" rows="5" name="biography">{{profile.biography}}</textarea>
				</div>
			</div>
		</div>
		<!-- /About Me -->
		
		<!-- Clinic Info -->
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Clinic Info</h4>
				<div class="row form-row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Clinic Name</label>
							<input type="text" class="form-control" name="clinic" value="{{profile.clinic}}">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Clinic Address</label>
							<input type="text" class="form-control" name="clinic_address" value="{{profile.clinic_address}}">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Clinic Info -->

		<!-- Contact Details -->
		<div class="card contact-card">
			<div class="card-body">
				<h4 class="card-title">Contact Details</h4>
				<div class="row form-row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Address Line 1</label>
							<input type="text" class="form-control" name="address_line1" value="{{profile.address_line1}}">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Address Line 2</label>
							<input type="text" class="form-control" name="address_line2" value="{{profile.address_line2}}">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Town</label>
							<input type="text" class="form-control" name="town" value="{{profile.town}}">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">County</label>
							<input type="text" class="form-control" name="county" value="{{profile.county}}">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Country</label>
							<input type="text" class="form-control" name="country" value="{{profile.country}}">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Contact Details -->
		
		<!-- Pricing -->
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Pricing</h4>
				
				<div class="form-group mb-0">
					<div id="pricing_select">
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="price_free" name="rating_option" class="custom-control-input" value="price_free" checked>
							<label class="custom-control-label" for="price_free">Free</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="price_custom" name="rating_option" value="custom_price" class="custom-control-input">
							<label class="custom-control-label" for="price_custom">Custom Price (per hour)</label>
						</div>
					</div>

				</div>
				<!-- name = "custom_rating_count"-->
				<div class="row custom_price_cont" id="custom_price_cont" style="display: none;">
					<div class="col-md-4">
						<input type="text" class="form-control" id="custom_rating_input" name="pricing" value="{{profile.pricing}}" placeholder="20">
						<small class="form-text text-muted">Custom price you can add</small>
					</div>
				</div>
				
			</div>
		</div>
		<!-- /Pricing -->
		
		<!-- Services and Specialization -->
		<div class="card services-card">
			<div class="card-body">
				<h4 class="card-title">Services and Specialization</h4>
				<div class="form-group">
					<label>Services</label>
					<input type="text" data-role="tagsinput" class="input-tags form-control" placeholder="Enter Services" name="services" value="{{profile.services}}" id="services">
					<small class="form-text text-muted">Note : Type & Press enter to add new services</small>
				</div> 
				<div class="form-group mb-0">
					<label>Specialization </label>
					<input class="input-tags form-control" type="text" data-role="tagsinput" placeholder="Enter Specialization" name="specialization" value="{{profile.specialization}}" id="specialist">
					<small class="form-text text-muted">Note : Type & Press  enter to add new specialization</small>
				</div> 
			</div>              
		</div>
		<!-- /Services and Specialization -->
		
		<div class="submit-section submit-btn-bottom">
			<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
		</div>
	</form>	
</div>
{% endblock %}

{% block javascript %}
	<!-- Datetimepicker JS -->
	<script src="{% static 'cas/js/moment.min.js' %}"></script>
	<script src="{% static 'cas/js/bootstrap-datetimepicker.min.js' %}"></script>

	<!-- Select2 JS -->
	<script src="{% static 'cas/plugins/select2/js/select2.min.js' %}"></script>
	
	<!-- Dropzone JS -->
	<script src="{% static 'cas/plugins/dropzone/dropzone.min.js' %}"></script>
	
	<!-- Bootstrap Tagsinput JS -->
	<script src="{% static 'cas/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js' %}"></script>
	
	<!-- Profile Settings JS -->
	<script src="{% static 'cas/js/profile-settings.js' %}"></script>
{% endblock %}
