{% extends "doctors/base.html" %}

{% block title %} Change Password{% endblock %}

{% load static %}

{% block css %}
	<!-- Select2 CSS -->
	<link rel="stylesheet" href="{% static 'cas/plugins/select2/css/select2.min.css' %}">	
{% endblock %}

{% block breadcrumb %}Change Password {% endblock %}
{% block breadcrumb1 %}Change Password {% endblock %}

{% block sidenav %}
	<ul>
		<li>
			<a href="{% url 'doctor-dashboard' %}">
				<i class="fas fa-columns"></i>
				<span>Dashboard</span>
			</a>
		</li>
		<li>
			<a href="{% url 'appointments' %}">
				<i class="fas fa-calendar-check"></i>
				<span>Appointments</span>
			</a>
		</li>
		<li>
			<a href="{% url 'my-patients' %}">
				<i class="fas fa-user-injured"></i>
				<span>My Patients</span>
			</a>
		</li>
		<li>
			<a href="{% url 'schedule-timings' %}">
				<i class="fas fa-hourglass-start"></i>
				<span>Schedule Timings</span>
			</a>
		</li>
		<li>
			<a href="{% url 'invoices' %}">
				<i class="fas fa-file-invoice"></i>
				<span>Invoices</span>
			</a>
		</li>
		<li>
			<a href="{% url 'reviews' %}">
				<i class="fas fa-star"></i>
				<span>Reviews</span>
			</a>
		</li>
		<li>
			<a href="{% url 'chat-doctor' %}">
				<i class="fas fa-comments"></i>
				<span>Message</span>
				<small class="unread-msg">23</small>
			</a>
		</li>
		<li>
			<a href="{% url 'doctor-profile-settings' %}">
				<i class="fas fa-user-cog"></i>
				<span>Profile Settings</span>
			</a>
		</li>
		<li>
			<a href="{% url 'social-media' %}">
				<i class="fas fa-share-alt"></i>
				<span>Social Media</span>
			</a>
		</li>
		<li class="active">
			<a href="{% url 'doctor-change-password' %}">
				<i class="fas fa-lock"></i>
				<span>Change Password</span>
			</a>
		</li>
		<li>
			<a href="{% url 'logout' %}">
				<i class="fas fa-sign-out-alt"></i>
				<span>Logout</span>
			</a>
		</li>
	</ul>
{% endblock %}

{% block content %}							
	<div class="col-md-7 col-lg-8 col-xl-9">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-md-12 col-lg-6">
					
						<!-- Change Password Form -->
						<form class="add-form" method="POST" action="{% url 'doctor-change-password' %}">
							{% csrf_token %}
							<div class="form-group">
								<label>Old Password</label>
								<input type="password" class="form-control" name="old_pswd">
							</div>
							<div class="form-group">
								<label>New Password</label>
								<input type="password" class="form-control" name="new_pswd">
							</div>
							<div class="form-group">
								<label>Confirm Password</label>
								<input type="password" class="form-control" name="cfm_pswd">
							</div>
							<div class="submit-section">
								<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
							</div>
						</form>
						<!-- /Change Password Form -->
						
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<!-- Custom JS -->
	<script src="{% static 'cas/js/ajax.js' %}"></script>
{% endblock %}	
					