{% extends "cas/base.html" %}

{% block title %} {{doctor.first_name}} Booking{% endblock %}

{% load static %}

{% block content %}
			
	<!-- Breadcrumb -->
	<div class="breadcrumb-bar">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-md-12 col-12">
					<nav aria-label="breadcrumb" class="page-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Booking</li>
						</ol>
					</nav>
					<h2 class="breadcrumb-title">Booking</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- /Breadcrumb -->
			
	<!-- Page Content -->
	<div class="content success-page-cont">
		<div class="container-fluid">
		
			<div class="row justify-content-center">
				<div class="col-lg-6">
				
					<!-- Success Card -->
					<div class="card success-card">
						<div class="card-body">
							<div class="success-cont">
								<i class="fas fa-check"></i>
								<h3>Appointment booked Successfully!</h3>
								<p>Appointment booked with <strong>Dr. Darren Elder</strong><br> on <strong>12 Nov 2019 5:00PM to 6:00PM</strong></p>
								<a href="invoice-view.html" class="btn btn-primary view-inv-btn">View Invoice</a>
							</div>
						</div>
					</div>
					<!-- /Success Card -->
					
				</div>
			</div>
			
		</div>
	</div>		
	<!-- /Page Content -->
{% endblock %}