{% extends "cas/base.html" %}

{% block title %} {{doctor.first_name}} Check-Out{% endblock %}

{% load static %}

{% block content %}
			
	<!-- Breadcrumb -->
	<div class="breadcrumb-bar">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-md-12 col-12">
					<nav aria-label="breadcrumb" class="page-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Checkout</li>
						</ol>
					</nav>
					<h2 class="breadcrumb-title">Checkout</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- /Breadcrumb -->
			
	<!-- Page Content -->
	<div class="content">
		<div class="container">

			<div class="row">
				<div class="col-md-7 col-lg-8">
					<div class="card">
						<div class="card-body">
						
							<!-- Checkout Form -->
							<form class="add-form" method="POST" action="{% url 'checkout' %}">
								{% csrf_token %}
								{% if user.is_authenticated %}
								{% else %}
								<!-- Personal Information -->
								<div class="info-widget">
									<h4 class="card-title">Personal Information</h4>
									<div class="row">
										<div class="col-md-6 col-sm-12">
											<div class="form-group card-label">
												<label>First Name</label>
												<input class="form-control" type="text" value="{{user.first_name}}">
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="form-group card-label">
												<label>Last Name</label>
												<input class="form-control" type="text" value="{{user.last_name}}">
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="form-group card-label">
												<label>Email</label>
												<input class="form-control" type="email" value="{{user.email}}">
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="form-group card-label">
												<label>Phone</label>
												<input class="form-control" type="text" value="user.phone">
											</div>
										</div>
									</div>
									<div class="exist-customer">Existing Customer? <a href="#">Click here to login</a></div>
								</div>
								<!-- /Personal Information -->
								{% endif %}
								
								<div class="payment-widget">
									<h4 class="card-title">Payment Method</h4>
									
									<!-- Credit Card Payment -->
									<div class="payment-list">
										<label class="payment-radio credit-card-option">
											<input type="radio" name="radio" checked>
											<span class="checkmark"></span>
											Credit card
										</label>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group card-label">
													<label for="card_name">Name on Card</label>
													<input class="form-control" id="card_name" type="text" name="card_name">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group card-label">
													<label for="card_number">Card Number</label>
													<input class="form-control" id="card_number" placeholder="1234  5678  9876  5432" type="text" name="card_number">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group card-label">
													<label for="expiry_month">Expiry Month</label>
													<input class="form-control" id="expiry_month" placeholder="MM" type="text" name="expiry_month">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group card-label">
													<label for="expiry_year">Expiry Year</label>
													<input class="form-control" id="expiry_year" placeholder="YY" type="text" name="expiry_year">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group card-label">
													<label for="cvv">CVV</label>
													<input class="form-control" id="cvv" type="text" name="cvv">
												</div>
											</div>
										</div>
									</div>
									<!-- /Credit Card Payment -->
									
									<!-- Paypal Payment -->
									<div class="payment-list">
										<label class="payment-radio paypal-option">
											<input type="radio" name="radio">
											<span class="checkmark"></span>
											Paypal
										</label>
									</div>
									<!-- /Paypal Payment -->
									
									<!-- Terms Accept -->
									<div class="terms-accept">
										<div class="custom-checkbox">
										   <input type="checkbox" id="terms_accept" required>
										   <label for="terms_accept">I have read and accept <a href="#">Terms &amp; Conditions</a></label>
										</div>
									</div>
									<!-- /Terms Accept -->
									
									<!-- Submit Section -->
									<div class="submit-section mt-4">
										<button type="submit" class="btn btn-primary submit-btn">Confirm and Pay</button>
									</div>
									<!-- /Submit Section -->
									
								</div>
							</form>
							<!-- /Checkout Form -->
							
						</div>
					</div>
					
				</div>
				
				<div class="col-md-5 col-lg-4 theiaStickySidebar">
				
					<!-- Booking Summary -->
					<div class="card booking-card">
						<div class="card-header">
							<h4 class="card-title">Booking Summary</h4>
						</div>
						<div class="card-body">
						
							<!-- Booking Doctor Info -->
							<div class="booking-doc-info">
								<a href="doctor-profile.html" class="booking-doc-img">
									<img src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
								</a>
								<div class="booking-info">
									<h4><a href="doctor-profile.html">{{doctor.full_name}}</a></h4>
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
										<span class="d-inline-block average-rating">35</span>
									</div>
									<div class="clinic-details">
										<p class="doc-location"><i class="fas fa-map-marker-alt"></i> {{doctor.county}}, {{doctor.country}}</p>
									</div>
								</div>
							</div>
							<!-- Booking Doctor Info -->
							
							<div class="booking-summary">
								<div class="booking-item-wrap">
									<ul class="booking-date">
										<li>Date <span>{{book_date|date:"d m Y"}}</span></li>
										<li>Time <span>{{book_date|date:"h:i A"}}10:00 AM</span></li>
									</ul>
									<ul class="booking-fee">
										<li>Consulting Fee <span>kSh {{doctor.pricing}}</span></li>
										<li>Booking Fee <span>kSh 200</span></li>
										<li>Video Call <span>kSh 50</span></li>
									</ul>
									<div class="booking-total">
										<ul class="booking-total-list">
											<li>
												<span>Total</span>
												<span class="total-cost">ksh 270</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Booking Summary -->
					
				</div>
			</div>

		</div>

	</div>		
	<!-- /Page Content -->
   
{% endblock %}
