{% extends "cas/base.html" %}

{% block title %} {{doctor.first_name}} Booking{% endblock %}

{% load static %}

{% block content %}
			
	<!-- Breadcrumb -->
	<div class="breadcrumb-bar">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-md-12 col-12">
					<nav aria-label="breadcrumb" class="page-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Invoice View</li>
						</ol>
					</nav>
					<h2 class="breadcrumb-title">Invoice View</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- /Breadcrumb -->
			
	<!-- Page Content -->
	<div class="content">
		<div class="container-fluid">

			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="invoice-content">
						<div class="invoice-item">
							<div class="row">
								<div class="col-md-6">
									<div class="invoice-logo">
										<img src="assets/img/logo.png" alt="logo">
									</div>
								</div>
								<div class="col-md-6">
									<p class="invoice-details">
										<strong>Order:</strong> #00{{invoice.id}} <br>
										<strong>Issued:</strong> {{invoice.date_paid}}
									</p>
								</div>
							</div>
						</div>
						
						<!-- Invoice Item -->
						<div class="invoice-item">
							<div class="row">
								<div class="col-md-6">
									<div class="invoice-info">
										<strong class="customer-text">Invoice From</strong>
										<p class="invoice-details invoice-details-two">
											{{invoice.doctor.full_name}} <br>
											{{invoice.doctor.clinic_address}},<br>
											{{invoice.doctor.county}}, {{invoice.doctor.country}} <br>
										</p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="invoice-info invoice-info2">
										<strong class="customer-text">Invoice To</strong>
										<p class="invoice-details">
											{{invoice.patient.first_name}} {{invoice.patient.second_name}} <br>
											{{invoice.patient.street_lane}}, {{invoice.patient.town}}, <br>
											{{invoice.patient.county}}, {{invoice.patient.country}} <br>
										</p>
									</div>
								</div>
							</div>
						</div>
						<!-- /Invoice Item -->
						
						<!-- Invoice Item -->
						<div class="invoice-item">
							<div class="row">
								<div class="col-md-12">
									<div class="invoice-info">
										<strong class="customer-text">Payment Method</strong>
										<p class="invoice-details invoice-details-two">
											Debit Card <br>
											XXXXXXXXXXXX-2541 <br>
											HDFC Bank<br>
										</p>
									</div>
								</div>
							</div>
						</div>
						<!-- /Invoice Item -->
						
						<!-- Invoice Item -->
						<div class="invoice-item invoice-table-wrap">
							<div class="row">
								<div class="col-md-12">
									<div class="table-responsive">
										<table class="invoice-table table table-bordered">
											<thead>
												<tr>
													<th>Description</th>
													<th class="text-center">Quantity</th>
													<th class="text-center">VAT</th>
													<th class="text-right">Total</th>
												</tr>
											</thead>
											<tbody>
											{% for bill in bills %}
												<tr>
													<td>{{bill.description}}</td>
													<td class="text-center">{{bill.quantity}}</td>
													<td class="text-center">kSh {{bill.vat}}</td>
													<td class="text-right">kSh {{bill.amount}}</td>
												</tr>
											{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
								<div class="col-md-6 col-xl-4 ml-auto">
									<div class="table-responsive">
										<table class="invoice-table-two table">
											<tbody>
											<tr>
												<th>Subtotal:</th>
												<td><span>kSh {{invoice.total_amount}} </span></td>
											</tr>
											<tr>
												<th>Discount:</th>
												<td><span>0%</span></td>
											</tr>
											<tr>
												<th>Total Amount:</th>
												<td><span>kSh {{invoice.total_amount}}</span></td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<!-- /Invoice Item -->
						
						<!-- Invoice Information -->
						<div class="other-info">
							<h4>Other information</h4>
							<p class="text-muted mb-0">{{invoice.doctor.description}}</p>
						</div>
						<!-- /Invoice Information -->
						
					</div>
				</div>
			</div>

		</div>

	</div>		
	<!-- /Page Content -->
{% endblock %}