{% extends "patients/base.html" %}
{% block title %}Profile Settings{% endblock %}
{% load static %}
{% block css %}
	<!-- Datetimepicker CSS -->
	<link rel="stylesheet" href="{% static 'cas/css/bootstrap-datetimepicker.min.css' %}">
	
	<!-- Select2 CSS -->
	<link rel="stylesheet" href="{% static 'cas/plugins/select2/css/select2.min.css' %}">

{% endblock %}
{% block breadcrumb %}Profile Settings{% endblock %}
{% block breadcrumb1 %}Profile Settings{% endblock %}
{% block sidenav %}
	<ul>
		<li>
			<a href="{% url 'patient-dashboard' %}">
				<i class="fas fa-columns"></i>
				<span>Dashboard</span>
			</a>
		</li>
		<li>
			<a href="favourites.html">
				<i class="fas fa-bookmark"></i>
				<span>Favourites</span>
			</a>
		</li>
		<li>
			<a href="chat.html">
				<i class="fas fa-comments"></i>
				<span>Message</span>
				<small class="unread-msg">23</small>
			</a>
		</li>
		<li class="active">
			<a href="{% url 'profile-settings' %}">
				<i class="fas fa-user-cog"></i>
				<span>Profile Settings</span>
			</a>
		</li>
		<li>
			<a href="change-password.html">
				<i class="fas fa-lock"></i>
				<span>Change Password</span>
			</a>
		</li>
		<li>
			<a href="index-2.html">
				<i class="fas fa-sign-out-alt"></i>
				<span>Logout</span>
			</a>
		</li>
	</ul>							
{% endblock %}	
{% block content %}
	<form enctype="multipart/form-data" method="post" action="{% url 'profile-settings' %}">
		<div class="row form-row">
			{% csrf_token %}
			<input type="text" name="user" value="{{user.id}}" hidden>
			<div class="col-12 col-md-12">
				<div class="form-group">
					<div class="change-avatar">
						<div class="profile-img">
							<img src="{{profile.image.url}}" alt="User Image">
						</div>
						<div class="upload-img">
							<div class="change-photo-btn">
								<span><i class="fa fa-upload"></i> Upload Photo</span>
								<input type="file" class="upload" name="image" value="{{profile.image}}" required>
							</div>
							<small class="form-text text-muted">Allowed JPG, GIF or PNG. Max size of 2MB</small>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="form-group">
					<label>First Name</label>
					<input type="text" class="form-control" name="first_name" value="{{user.first_name}}" required>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="form-group">
					<label>Last Name</label>
					<input type="text" class="form-control" name="second_name" value="{{user.last_name}}" required>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="form-group">
					<label>Date of Birth</label>
					<div class="cal-icon">
						<input type="text" class="form-control datetimepicker" name="d_o_b" value="{{profile.d_o_b|date:"Y-m-d"}}" required>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="form-group">
					<label>Gender</label>
					<select name="gender" class="form-control select" required>
					{% if profile.gender == 'Female'  %}
						<option value="Female" selected="">Female</option>
						<option value="Male">Male</option>
					{% elif profile.gender == 'Male'  %}
						<option value="Male" selected="">Male</option>
						<option value="Female">Female</option>
					{% else %}
						<option value="Male">Male</option>
						<option value="Female">Female</option>
					{% endif %}	
						
					</select>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="form-group">
					<label>Blood Group</label>
					<select class="form-control select" name="blood_group" required>
					{% if profile.blood_group != None %}
						<option value="{{profile.blood_group}}">{{profile.blood_group}}</option>
					{% else %}
						<option value="N/A">Unknown</option>
					{% endif %}	
						<option value="A-">A-</option>
						<option value="A+">A+</option>
						<option value="B-">B-</option>
						<option value="B+">B+</option>
						<option value="AB-">AB-</option>
						<option value="AB+">AB+</option>
						<option value="O-">O-</option>
						<option value="O+">O+</option>
					</select>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="form-group">
					<label>Email ID</label>
					<input type="email" class="form-control" name="email" value="{{user.email}}" required>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="form-group">
					<label>Mobile</label>
					<input type="text" name="phone_no" value="{{profile.phone_no}}" class="form-control" required>
				</div>
			</div>
			<div class="col-12">
				<div class="form-group">
				<label>Street Lane</label>
					<input type="text" name="street_lane" class="form-control" value="{{profile.street_lane}}" required>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="form-group">
					<label>Town</label>
					<input type="text" name="town" class="form-control" value="{{profile.town}}" required>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="form-group">
					<label>County</label>
					<input type="text" class="form-control" name="county" value="{{profile.county}}" required>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="form-group">
					<label>Country</label>
					<input type="text" class="form-control" name="country" value="{{profile.country}}" required>
				</div>
			</div>
		</div>
		<div class="submit-section">
			<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
		</div>
	</form>
{% endblock %}
{% block javascript %} 
	<!-- Select2 JS -->
	<script src="{% static 'cas/plugins/select2/js/select2.min.js' %}"></script>
	
	<!-- Datetimepicker JS -->
	<script src="{% static 'cas/js/moment.min.js' %}"></script>
	<script src="{% static 'cas/js/bootstrap-datetimepicker.min.js' %}"></script>
{% endblock %}

